body {
    background-color: #49B749;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.todo-wrapper {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-weight: 300; */
}

.todo-wrapper form {
    display: inline-block;
}

.todo-wrapper input {
    padding: 3px 6px;
}

.todo-wrapper #pretty-button {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #0093D5;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.todo-wrapper #pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}